name: NodeJS

on:
  push:
    branches-ignore: 'gh-pages'
  pull_request:
  release: # Run when release is created
    types: [created]

jobs:
  build:

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3.2.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.5.1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install and build
        run: |
          npm ci
          npm run build --if-present
        env:
          CI: true

  publish-npm:
    # publish only if we are on our own repo, event was 'release' (a tag was created) and the tag starts with "v" (aka version tag)
    if: github.repository == 'Sunoo/homebridge-camera-ffmpeg' && github.event_name == 'release' && startsWith(github.ref, 'refs/tags/v')

    needs: build # only run if build succeeds

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.2.0
      - uses: actions/setup-node@v2.5.1
        with:
          node-version: 12 # use the minimum required version
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
