# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: NodeJS_Beta

on:
  push:
    branches:
      - beta

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 10
      - name: npm install and build
        run: |
          npm ci
          npm run build --if-present
        env:
          CI: true

  publish-npm:
    if: github.repository == 'homebridge-plugins/homebridge-camera-ffmpeg'

    needs: build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 10
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: node .github/workflows/prerelease.js
      - run: npm --no-git-tag-version version prerelease --preid=beta
      - run: npm publish --tag=beta
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
